.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
}
li{
  margin-bottom: 20px;
}

.avail li:before {
  content: '✔';
  
}

.notavail li:before {
  content: '✘';
}
.notavail{ 
  color:rgb(123, 119, 119);
}
.Button{
  align-items:center;
  color:black;
}
.corner{

  background-image: linear-gradient(to bottom right, rgb(0, 8, 255), rgb(0, 208, 255));
  padding:30px 30px 30px 230px;
}

.plan{
  font-weight:bold;
  font-size:20px;
  text-align:center;
  color:grey;

}

.price{
  text-align:center;
  font-size: 40px;
  font-weight:bold;
  
  border-bottom: 2px solid;
}
.cardcorner{
  border-radius: 15px;
  background-color: white;
}

.cardcorner:hover{
  transform: scale(1.1);
}
sub{
  font-size: 20px;
  font-weight:normal;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
